<div *ngIf="!(user|async)">
  <nav class="navbar navbar-expand-lg navbar-white bg-primary">
    <a class="navbar-brand" routerLink="/home"> <img src="assets/favicon.ico" style="width:70px;height:70px;">
      Schtroumpf</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/membre/connexion">Connexion</a>
        </li>

        <li class="nav-item" >
          <a class="nav-link" routerLink="/inscription" >Inscription</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div *ngIf="user|async">
  <nav class="navbar navbar-expand-lg navbar-white bg-primary">
    <a class="navbar-brand" routerLink="/home"> <img src="assets/favicon.ico"
        style="width:70px;height:70px;">Schtroumpf</a>
    <button style="background-color: tomato !important;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span  class="navbar-toggler-icon" style="background-color: tomato !important;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/accueil">Accueil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/monprofil">Mon profil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/myfriends">Mes amis</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/addfriend" >Ajouter un ami</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="deconnexion()"> <button class="btn btn-danger btn-sm"> Déconnexion
            </button></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
